.dropdown-dsd{
    width: 30%;
    padding: 10px;
    border: 1px solid var(--dropdown-border);
    border-radius: 4px;
    background-color: var(--dropdown-background);
    font-size: 16px;
    color: var(--dropdown-textcolor);
    margin-bottom: 10px;
    cursor: pointer;
}

.table-dsd {
    width: 45%;
    margin: 0px 0;
    text-align: left;
    border-collapse: collapse;
}

.table-dsd th:nth-child(1), .table-dsd td:nth-child(1) {
    width: 43%; /* First column width */
}

.table-dsd th:nth-child(2), .table-dsd td:nth-child(2) {
    width: 43%; /* Second column width */
}

.table-dsd th:nth-child(3), .table-dsd td:nth-child(3) {
    width: 14%; /* Third column width */
}

.table-dsd th, .table-dsd td {
    height: 30px;
    padding: 5px 10px; 
    border: 1px solid var(--table-border);
}

.table-dsd th {
    background-color: var(--content-background);
}



.button-dsd, .button-dsd-row {
    padding: 10px 20px;
    margin: 5px 0px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-dsd-row {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.button-dsd:hover, .button-dsd-row:hover{
    background-color: var(--button-hover-color-view);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.button-dsd:focus, .button-dsd-row:focus{
    outline: none;
}


.ispespeed, .ispetemp {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--table-border);
    border-radius: 4px;
    background-color: var(--dropdown-background);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.ispespeed:focus, .ispetemp:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.button-style-Set-save, .button-style-Set-close {
    padding: 10px 20px;
    margin: 5px 0px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-style-Set-save, .button-style-Set-close
{
    margin-top: 10px;
    width: auto;
    margin-right: 10px;
}

.button-style-Set-save:hover,  .button-style-Set-close:hover {
    background-color: var(--button-hover-color-view);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.button-style-Set-save:focus, .button-style-Set-close:focus {
    outline: none;
}


.modal-Set {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content-Set {
    background-color: var(--content-background);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--table-border);
    width: 80%; 
    border-radius: 4px;
}

.input-Set {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--dropdown-border);
    border-radius: 4px;
    background-color: var(--dropdown-background);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}



.input-Set:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}