 /* Header */
 .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-background);
    color: var(--text-color);
    height: 60px;
    left: 0px;
    right: 0px;
    top: 0px;
    transition: background-color 0.3s;
    
}

.rome-title{
    display: flex;
    width: 230px;;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    min-width: 230px;
}

.left-section {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100px;
    font-weight: bold;
    font-size: 20px;
    /* border-bottom: 1px solid var(--border-color); */
}

.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    /* border-bottom: 1px solid var(--border-color); */
}

.right-section {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100px;
    /* border-bottom: 1px solid var(--border-color); */
}
