.order-table {
    width: 100%;
    margin: 0px 0;
    text-align: left;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    height: 30px;
    padding: 5px 10px; 
    border: 1px solid var(--table-border);
}


.order-columns{
   width: 17%;
}
.order-table th {
    background-color: var(--content-background);
}
.action-buttons {
    text-align: center; 
    vertical-align: middle; 
    padding: 0; 
    margin: 0; 
    border: none; 
    height: 30px;
    white-space: nowrap;
    
}

.order-table td.action-buttons {
    padding-top: 0;
    padding-bottom: 0; 
    padding-left: 5px; 
    padding-right: 5px; 
    border: 1px solid var(--table-border); 
    height: 30px; 
}

.button-style-om {
    padding: 5px 20px;
    margin: 0px 5px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-style-om:hover {
    background-color: var(--button-hover-color-view);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.button-style-om:focus {
    outline: none;
}