.order-table-overview {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    text-align: left;
}


.order-table-overview th, .order-columns-overview {
    padding: 5px 10px; 
    border: 1px solid #ddd;
    height: 30px; 
    width: 25%;
}


.order-table-overview th {
    background-color: #ffffff;
}
