.form-group-pc {
    margin-bottom: 15px;
}

.form-group-pc label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-style-pc {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--dropdown-border);
    border-radius: 4px;
    background-color: var(--dropdown-background);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-style-pc:focus {
    border-color: var(--border-focus-color);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.button-style-pc {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-style-pc:hover {
    background-color: var(--button-hover-color-view);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.button-style-pc:focus {
    outline: none;
}

.modal-pc {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content-pc {
    background-color: var(--content-background);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--table-border);
    width: 80%; 
    border-radius: 4px;
}