.order-selection-process-instr {
    width: 400px;
    padding: 10px;
    border: 1px solid var(--dropdown-border);
    border-radius: 4px;
    background-color: var(--dropdown-background);
    font-size: 16px;
    color: var(--dropdown-textcolor);
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.button-style-process-instr {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}


.button-style-process-instr:disabled {
    background-color: rgba(0, 0, 0, 0.5); 
    color:rgb(224, 224, 224); 
    cursor: not-allowed; 
    opacity: 0.6; 
}


.button-style-process-instr:hover {
    background-color: var(--button-hover-color-view);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.button-style-process-instr:focus {
    outline: none;
}

.workflow-step-process-instr {
    border: 1px solid var(--box-border-color);
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    background-color: var(--box-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.workflow-step-process-instr p {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.workflow-step-process-instr.current-step {
    border-color: green;
    box-shadow: 0 0 10px green;
}
