/* Sidebar */

.sidebar{
    position: fixed;
    height: 100%;
    width: 230px;
    background: var(--sidebar-background);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
}




.sidebar a{
    text-decoration: none;
    color: var(--sidebar-text-color);
}


.logo{
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
    height: 60px;
    color: var(--sidebar-text-color);
    display: flex;
    align-items: center;
}

.menu-content{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    visibility: hidden;
}

.menu-content-settings{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    visibility: hidden;
}
.menu-content::-webkit-scrollbar, .menu-content-settings::-webkit-scrollbar{
    display: none;
}
.menu-items, .menu-items-settings{
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}


.submenu-active .menu-items{
    transform: translateX(-56%);
}
.menu-topic{
    color: var(--sidebar-text-color);
    padding: 16px;
    margin-right: 20px;
}
.item a,
.item-settings a,
.submenu-item{
    padding:16px;
    display: inline-block;
    width: 198px;
    border-radius: 12px;
    cursor: pointer;
}

.item a:hover,
.item-settings a:hover,
.submenu-item:hover,
.submenu .menu-topic:hover{
    background-color: var(--button-hover-color);
}

.submenu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sidebar-text-color)
}
.submenu{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 30px);
    background: var(--sidebar-background);
    display: none;
}

.show-submenu ~ .submenu{
    display: block;
}

.submenu .menu-topic{
    border-radius: 12px;
    cursor: pointer;
}

.submenu .menu-topic img{
    margin-right: 10px;
    vertical-align: text-bottom;
}

#sidebar, #settings-sidebar {
    position: absolute; /* Beide Sidebars absolut positionieren, damit sie sich überlappen */
    top: 70;
    left: 10;
    width: 100%;
    height: 100%;
    visibility: hidden; /* Standardmäßig unsichtbar */
    transition: opacity 0.3s ease;
    opacity: 0;
}

#sidebar.show-sidebar {
    visibility: visible; /* Show when 'show-sidebar' class is added */
    opacity: 1;
} 


#settings-sidebar.show-sidebar {
    visibility: visible; /* Show when 'show-sidebar' class is added */
    opacity: 1;
}