/* Sidebar */

.sidebar{
    position: fixed;
    height: 100%;
    width: 230px;
    background: #02000e;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
}


.sidebar a{
    text-decoration: none;
    color: #fff;
}


.logo{
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.menu-content{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
}
.menu-content::-webkit-scrollbar{
    display: none;
}
.menu-items{
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}


.submenu-active .menu-items{
    transform: translateX(-56%);
}
.menu-topic{
    color: #fff;
    padding: 16px;
}
.item a,
.submenu-item{
    padding:16px;
    display: inline-block;
    width: 198px;
    border-radius: 12px;
    cursor: pointer;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-topic:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.submenu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}
.submenu{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    background: #02000e;
    display: none;
}

.show-submenu ~ .submenu{
    display: block;
}

.submenu .menu-topic{
    border-radius: 12px;
    cursor: pointer;
}

.submenu .menu-topic img{
    margin-right: 10px;
    vertical-align: text-bottom;
}

