{% extends "base.html" %}

{% block title %}Scada - 3D-View{% endblock %}
{% block header_title %}Scada - 3D-View{% endblock %}

{% block content %}

<style>
   .fullscreen-div {
    height: 100vh; /* Höhe auf 100% des Viewports minus 60px */
    width: calc(100vw - 250px); /* Breite auf 100% des Viewports minus 250px */
    background-image: url("{{url_for('static', filename='images/backdrops/Pharmaceutical-Vial-Filler.jpg')}}"); /* Pfad zu deinem Bild */
    background-size: contain; /* Das Bild wird skaliert, um in die div zu passen */
    background-attachment: fixed; /* Bild bleibt fixiert */
    background-repeat: no-repeat;
    background-position: 250px 0px; /* Bild um 250px nach rechts und 60px nach unten verschieben */
}
    
</style>

<div class="fullscreen-div"></div>


{% endblock %}

