<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Application{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manufacturing-orders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order-management.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/processinstructions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_analytics.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/designspacerepresentation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design-space-definition.css') }}">
    <style>
        :root {
            --background-color: #02000e;
            --text-color: #02000e;
            --header-background: #02000e; /* header background */
            --sidebar-background: #02000e; /* sidebar background */
            --button-background: #02000e;
            --button-hover-color:rgba(255, 255, 255, 0.1);
            --button-text-color: #ffffff;
            --border-color: #02000e;/* SAME color as background */
            --card-background: #f0f2f5;
            --card-shadow: 0 4prgb(3, 3, 3)gba(0, 0, 0, 0.1);
        } 
        body {
            font-family: 'Segoe UI','sans-serif','Tahoma',  'Geneva', Verdana;
            color: var(--text-color);
            transition: background-color 0.3s, color 0.3s;
            margin: 0px;
            padding: 0px;
            background-color: #02000e;
        }
        .button-active {
             background-color: rgb(245, 245, 245);
             color: rgb(84, 86, 255);
        }
        
       
        
        .content {
            margin-left: 260px;
            margin-top: 70px;
            margin-bottom: 20px;
            margin-right: 20px;
            border-radius: 12px;
            border-width: 5px;
            padding: 20px;
            background-color: #f0f2f5;
            height: calc(100vh - 130px);
            width: calc(100% - 320px);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: auto;
        }

        /* Style of Scrollbar */
        .content::-webkit-scrollbar {
            display: none;
        }
            
                



    </style>
</head>



<body>

    <!-- 
    ********************************************************************************************************************

    HEADER DEFINITION

    ********************************************************************************************************************
     -->

    <div class="header">
        <!-- <div class="rome-title">ISPE - Rome Demo</div> -->
        <div class="left-section">
            {% block header_title %}Welcome Screen{% endblock %}
        </div>      
        <div class="middle-section">

        </div>
        <div class="user-info">
            <img src="{{ url_for('static', filename='images/icons/user.svg') }}" alt="User" class="user-icon" style="width: 32px; height: 32px;">
            <span class="user-name">User Name</span>

        </div>
        <div class="settings">
            <img src="{{ url_for('static', filename='images/icons/settings.svg') }}" alt="Settings" class="settings-icon" style="width: 32px; height: 32px;">
        </div>
        <div class="right-section" id="datetime">

        </div>
        
    </div>


    <!-- 
    ********************************************************************************************************************

    SIDEBAR DEFINITION

    ********************************************************************************************************************
     -->
    <nav class = "settings-sidebar"> 
        <div href="/" class="logo">ISPE Demo</div>

        

        <div class = "menu-content">
            <div class = "menu-items">
                <div class = "item"> 
                    <a href="/">Home</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class = "sidebar show-sidebar"> 
        <div href="/" class="logo">ISPE Demo</div>

        

        <div class = "menu-content">
            <div class = "menu-items">


                <!-- FIRST SUBMENU -->

                <div class = "item"> 
                    <a href="/">Home</a>
                </div>

                <!-- SECOND SUBMENU -->

                <div class = "item"> 
                    <div class="submenu-item">
                        <span>Manufacturing Orders</span>
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_right.svg') }}">
                    </div>

                    <div class = "menu-items submenu">
                        <div class = "menu-topic">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_left.svg') }}">
                            <span>Manufacturing Orders</span>
                        </div>
        
                        <div class = "item"> 
                            <a href="/manufacturing-orders" >Order Management</a>
                        </div>
                        <div class = "item"> 
                            <a href="/order-management" >Order Overview</a>
                        </div>
                        
                    </div>
                </div>


                <!-- THIRD SUBMENU -->


                <div class = "item"> 
                    <div class="submenu-item">
                        <span>Workflows</span>
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_right.svg') }}">
                    </div>

                    <div class = "menu-items submenu">
                        <div class = "menu-topic">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_left.svg') }}">
                            <span>Workflows</span>
                        </div>
        
                        <div class = "item"> 
                            <a href="/overview" >Overview</a>
                        </div>
                        <div class = "item"> 
                            <a href="/batch" >Batch</a>
                        </div>
                        <div class = "item"> 
                            <a href="/process-instructions" >Process Instructions</a>
                        </div>
                        <div class = "item"> 
                            <a href="/sampling" >Sampling</a>
                        </div>
                
                    </div>
                </div>

                <!-- Fourth Submenu -->

                <div class = "item"> 
                    <div class="submenu-item">
                        <span>SCADA</span>
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_right.svg') }}">
                    </div>

                    <div class = "menu-items submenu">
                        <div class = "menu-topic">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_left.svg') }}">
                            <span>SCADA</span>
                        </div>
        
                        <div class = "item"> 
                            <a href="/equipment-overview" >Equipment Overview</a>
                        </div>
                        <div class = "item"> 
                            <a href="/scada" >P&ID</a>
                        </div>
                        <div class = "item"> 
                            <a href="/3d-view" >3D-View</a>
                        </div>
                    </div>
                </div>

                 <!-- fifth Submenu -->

                 <div class = "item"> 
                    <div class="submenu-item">
                        <span>QBD</span>
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_right.svg') }}">
                    </div>

                    <div class = "menu-items submenu">
                        <div class = "menu-topic">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_left.svg') }}">
                            <span>QBD</span>
                        </div>
        
                        <div class = "item"> 
                            <a href="/design-space-definition" >Design Space<br> Definition</a>
                        </div>
                        <div class = "item"> 
                            <a href="/design-space-representation" >Design Space Representation</a>
                        </div>
                    </div>
                </div>

                <!-- sixth submenu -->

                <div class = "item"> 
                    <div class="submenu-item">
                        <span>Analytics</span>
                        <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_right.svg') }}">
                    </div>

                    <div class = "menu-items submenu">
                        <div class = "menu-topic">
                            <img class="icon-button" src="{{ url_for('static', filename='images/icons/arrow_left.svg') }}">
                            <span>Analytics</span>
                        </div>
        
                        <div class = "item"> 
                            <a href="/product_analytics" >Product Analysis</a>
                        </div>
                        <div class = "item"> 
                            <a href="/process-qbd-analysis" >Process QbD Analysis</a>
                        </div>
                        
                
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- 
    ********************************************************************************************************************

    CONTENT DEFINITION

    ********************************************************************************************************************
     -->

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- 
    ********************************************************************************************************************

    CHATBOT DEFINITION

    ********************************************************************************************************************
     -->

    <!-- <div id="chatbot-container">
        <h2>Chat with our bot</h2>
        <div id="chatbot">
            <input type="text" id="chatbot-input" placeholder="Ask a question...">
            <button onclick="askChatbot()">Send</button>
            <div id="chatbot-response"></div>
        </div>
    </div> -->



    <script>
    function updateDateTime() {
        const now = new Date();
        const options = { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        document.getElementById('datetime').textContent = now.toLocaleDateString('en-US', options).replace(',', '');
    }
    setInterval(updateDateTime, 1000);
    updateDateTime();  

// JavaScript to handle button selection and maintain state
        document.addEventListener('DOMContentLoaded', function() {
            const buttons = document.querySelectorAll('.nav-button');
            const activeButton = localStorage.getItem('activeButton');

            if (activeButton) {
                const activeElement = document.querySelector(`.nav-button[href="${activeButton}"]`);
                if (activeElement) {
                    activeElement.classList.add('button-active');
                }
            }

            buttons.forEach(button => {
                button.addEventListener('click', function(event) {
                    buttons.forEach(btn => btn.classList.remove('button-active'));
                    this.classList.add('button-active');
                    localStorage.setItem('activeButton', this.getAttribute('href'));
                });
            });
        });

    </script>
    <script src="{{ url_for('static', filename='js/chatbot.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/settingssidebar.js') }}" defer></script>
</body>
</html>

