{% extends "base.html" %}

{% block title %}QBD - Design Space Definition{% endblock %}
{% block header_title %}QBD - Design Space Definition{% endblock %}

{% block content %}
<!-- Dropdown to select different sets -->
<select id="set-select" class="dropdown-dsd" onchange="loadSet(this.value)">
    <option value="">Select/Create new Set</option>
</select>
<br><br>

<!-- Table to input value pairs -->
<table id="value-pairs-table" class="table-dsd">
    <thead>
        <tr>
            <th>ISPESpeed</th>
            <th>ISPETemp</th>
            <th>Margin</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="number" class="ispespeed" required></td>
            <td><input type="number" class="ispetemp" required></td>
            <td><input type="number" class="margin" required></td>
            <td><button type="button" class="button-dsd-row" onclick="removeRow(this)">Remove</button></td>
        </tr>
    </tbody>
</table>
<br>
<button type="button" class="button-dsd" onclick="addRow()">Add Row</button>
<button type="button" class="button-dsd" onclick="saveSet()">Save Set</button>

<div id="successModalSet" class="modal-Set">
    <div class="modal-content-Set">
        <input type="text" id="setNameInput" class="input-Set" placeholder="Enter a name for this set" required>
        <br>
        <button class="button-style-Set-save save-Set-button" onclick="returnName()">Save Set</button>
        <button class="button-style-Set-close close-Set-button" onclick="closeModal()">Cancel</button>
    </div>
</div>

<div id="errorModalSet" class="modal-Set">
    <div class="modal-content-Set">
        <div id="genericMessageDSD"></div>
        <button class="button-style-Set-close close-Set-button" onclick="closeModal2()">Close</button>
    </div>
</div>

<script>
    function returnName() {
        const setName = document.getElementById('setNameInput').value;
        if (!setName) {
            const modal = document.getElementById('errorModalSet');
            document.getElementById('genericMessageDSD').innerHTML = '<strong>Set name cannot be empty!</strong>';
            modal.style.display = 'block';
            return;
        }
        saveSetAPI(setName);
        closeModal();
    }

    function closeModal() {
        document.getElementById('successModalSet').style.display = 'none';
    }

    function closeModal2() {
        document.getElementById('errorModalSet').style.display = 'none';
    }

    function openModal() {
        document.getElementById('successModalSet').style.display = 'block';
    }

    // Add an event listener to the document that will run the function when the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Fetch data from the '/get-sets' endpoint
        fetch('/get-sets')
            .then(response => response.json())  // Parse the JSON response
            .then(data => {
                // Get the <select> element with the ID 'set-select'
                const select = document.getElementById('set-select');
                // Iterate over the array of sets received from the server
                data.forEach(set => {
                    // Create a new <option> element for each set
                    const option = document.createElement('option');
                    // Set the value of the <option> element to the set's ID
                    option.value = set.id;
                    // Set the text content of the <option> element to the set's name
                    option.textContent = set.name;
                    // Append the <option> element to the <select> element
                    select.appendChild(option);
                });
            });
    });

    function addRow() {
        const table = document.getElementById('value-pairs-table').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();
        newRow.innerHTML = `
            <td><input type="number" class="ispespeed" required></td>
            <td><input type="number" class="ispetemp" required></td>
            <td><input type="number" class="margin" required></td>
            <td><button type="button" class="button-dsd-row" onclick="removeRow(this)">Remove</button></td>
        `;
    }

    function removeRow(button) {
        const row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function saveSet() {
        openModal()
    }

    function saveSetAPI(name)
    {
        const rows = document.querySelectorAll('#value-pairs-table tbody tr');
        const values = Array.from(rows).map(row => ({
            ispespeed: row.querySelector('.ispespeed').value,
            ispetemp: row.querySelector('.ispetemp').value,
            margin: row.querySelector('.margin').value
        }));
        const setId = document.getElementById('set-select').value || null;
        setName = name;
        // Calculate the average (center) of all x and y points
        center = { x: 0, y: 0 };
        values.forEach(value => {
            center.x += parseFloat(value.ispespeed);
            center.y += parseFloat(value.ispetemp);
            
        });

        center.x /= values.length;
        center.y /= values.length;

        

        values.forEach(value => {
            margin = parseFloat(value.margin);
            const xDiff = -parseFloat(value.ispespeed) + center.x;
            const yDiff = -parseFloat(value.ispetemp) + center.y;

            value.innerMarginTemp = String(parseFloat(value.ispetemp) + (yDiff> 0 ? (margin/100)* parseFloat(value.ispetemp) : -(margin/100) * parseFloat(value.ispetemp)));
            value.innerMarginSpeed = String(parseFloat(value.ispespeed) + (xDiff > 0 ? (margin/100)* parseFloat(value.ispespeed) : -(margin/100) * parseFloat(value.ispespeed)));
        });
        fetch('/save-set', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: setId, name: setName, values })
        }).then(response => {
            if (response.ok) {
                closeModal();
                location.reload();
            } else {
                const modal = document.getElementById('errorModalSet');
                document.getElementById('genericMessageDSD').innerHTML = '<strong>Failed to save set!</strong>';
                modal.style.display = 'block';
            }
        });
    }
    

    function loadSet(setId) {
        if (!setId) {
            // Clear the table for a new set
            document.querySelector('#value-pairs-table tbody').innerHTML = `
                <tr>
                    <td><input type="number" class="ispespeed" required></td>
                    <td><input type="number" class="ispetemp" required></td>
                    <td><input type="number" class="margin" required></td>
                    <td><button type="button" class= "button-dsd-row" onclick="removeRow(this)">Remove</button></td>
                </tr>
            `;
            return;
        }

        fetch(`/get-set/${setId}`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'error') {
                    alert(data.message);
                    return;
                }
                const tbody = document.querySelector('#value-pairs-table tbody');
                tbody.innerHTML = ''; // Clear existing rows
                data.values.forEach(value => {
                    const newRow = tbody.insertRow();
                    newRow.innerHTML = `
                        <td><input type="number" class="ispespeed" value="${value.ispespeed}" required></td>
                        <td><input type="number" class="ispetemp" value="${value.ispetemp}" required></td>
                        <td><input type="number" class="margin" value="${value.margin}" required></td>
                        <td><button type="button" class= "button-dsd-row" onclick="removeRow(this)">Remove</button></td>
                    `;
                });
            })
            .catch(error => {
                const modal = document.getElementById('errorModalSet');
                document.getElementById('genericMessageDSD').innerHTML = '<strong>Failed to load set!</strong>';
                modal.style.display = 'block';
            });
    }
</script>
{% endblock %}