{% extends "base.html" %}

{% block title %}SCADA - Equipment Overview{% endblock %}
{% block header_title %}SCADA - Equipment Overview{% endblock %}

{% block content %}

<style>
    .background-scada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: -1;
    }

    .background-scada img {
        width: 70%; 
    }

    .eo-button {
        height: 40px;
        display: grid;
        grid-template-columns: minmax(270px, 1fr) minmax(270px, 1fr);
        align-items: center;
        justify-items: center; 
        padding-top:20px;
    }

    .eo-button-style {
        height: 38px;
        font-size: 16pt;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        width: 250px;
        color: var(--text-color);
        border-radius: 15px;
        border-width: 1px;
        border-color: var(--button-border-color);
        border-style: solid;
        justify-content: center;
        display: flex; 
        align-items: center; 
    }
    .eo-button-style:hover{
        background-color: var(--button-hover-color);
    }

</style>
 

<div class="eo-button">
    <a href="/scada" class="eo-button-style">P&ID</a>
    <a href="/3d-view" class="eo-button-style">3D- View</a>
 </div>

 <div class="background-scada">
    <!-- https://www.syntegon.com/hs-fs/hubfs/Content/1-Solutions/1-Pharma/2-Process-pages/04-Vial-filling-process/vial-filling-machine-02.jpg?width=870&height=540&name=vial-filling-machine-02.jpg -->
    <img src="{{url_for('static', filename='images/backdrops/vial-filling-machine-02.webp')}}" class="background-scada img">
 </div>
   
{% endblock %}