{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header_title %}Login{% endblock %}

{% block content %}
<form method="POST" action="/loginUser">
    <div class="form-group-login">
        <label for="username">Username:</label>
        <input type="text" id="username" class="input-style-login" name="username">
    </div>
    <div class="form-group-login">
        <label for="password">Password:</label>
        <input type="password" id="password" class="input-style-login" name="password">
    </div>
    <button class="button-style-login">Log In</button>
    <button id="close-login" class="button-style-login">Close</button>
</form>
{% endblock %}