{% extends "base.html" %}

{% block title %}Manufacturing Orders - Order Overview{% endblock %}
{% block header_title %}Manufacturing Orders - Order Overview{% endblock %}

{% block content %}
<div class="order-list">
    <table>
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Product</th>
                <th>Lot Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="order-list-body">
            {% for order in orders %}
                <tr>
                    <td>{{ order.orderNumber }}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.lotNumber }}</td>
                    <td>
                        <button class="release-btn" data-id="{{ order.orderNumber }}">Release</button>
                        <button class="abort-btn" data-id="{{ order.orderNumber }}">Abort</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ordersList = document.getElementById('order-list-body');

        // Update the UI based on the saved status in local storage
        function updateUIFromStorage() {
            const rows = ordersList.querySelectorAll('tr');
            rows.forEach(row => {
                const orderId = row.querySelector('.release-btn, .abort-btn').getAttribute('data-id');
                
                fetch('/api/order-status')
                    .then(response => response.json())
                    .then(data => {
                        data.ordersOverview.forEach(order => {
                            if(order.orderNumber === orderId){
                                if(order.status === 'Released' || order.status === 'Started' || order.status === 'Completed'){
                                    row.querySelector('td:nth-child(4)').textContent = 'Released';
                                }
                                else if(order.status === 'Aborted'){
                                    row.querySelector('td:nth-child(4)').textContent = 'Aborted';
                                }
                            }
                        });
                    });
            });
        }

        if (ordersList) {
            // Update the UI based on the saved status in local storage when the page loads
            updateUIFromStorage();

            ordersList.addEventListener('click', function(event) {
                if (event.target.classList.contains('release-btn') || event.target.classList.contains('abort-btn')) {
                    const action = event.target.classList.contains('release-btn') ? 'release' : 'abort';
                    const orderId = event.target.getAttribute('data-id');

                    fetch('/order-management', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ action, order_id: orderId })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'Action Completed') {
                            const orderRow = event.target.closest('tr');
                            const newStatus = action === 'release' ? 'Released' : 'Aborted';
                            orderRow.querySelector('td:nth-child(4)').textContent = newStatus;

                            if (action === 'release') {
                                window.location.href = '/overview';
                            } 
                            
                        } else {
                            alert(data.error || 'An error occurred');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred');
                    });
                }
            });
        }
    });
</script>


{% endblock %}