{% extends "base.html" %}

{% block title %}Manufacturing Orders - Order Overview{% endblock %}
{% block header_title %}Manufacturing Orders - Order Overview{% endblock %}

{% block content %}
<div class="order-list">
    <table class="order-table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Product</th>
                <th>Lot Number</th>
                <th>Workflow</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="order-list-body">
            {% for order in orders %}
                <tr>
                    <td class = "order-columns">{{ order.orderNumber }}</td>
                    <td class = "order-columns">{{ order.product }}</td>
                    <td class = "order-columns">{{ order.lotNumber }}</td>
                    <td class = "order-columns">{{ order.workflow }}</td>
                    <td class = "order-columns">{{ order.status }}</td>
                    <td class="action-buttons">
                        {% if order.status != 'Released' and order.status != 'Started' and order.status != 'Completed' and order.status != 'Aborted'%}
                            <button class="button-style-om release-btn" data-id="{{ order.orderNumber }}">Release</button>
                        {% endif %}
                        {% if order.status != 'Aborted' and order.status != 'Completed' %}
                            <button class="button-style-om abort-btn" data-id="{{ order.orderNumber }}">Abort</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function refreshPage() {
        setTimeout(function() {
            window.location.reload();
        }, 500); // Delay the refresh by 1 second
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        const ordersList = document.getElementById('order-list-body');
        
        

        if (ordersList) {
            ordersList.addEventListener('click', function(event) {
                if (event.target.classList.contains('release-btn') || event.target.classList.contains('abort-btn')) {
                    const action = event.target.classList.contains('release-btn') ? 'release' : 'abort';
                    const orderId = event.target.getAttribute('data-id');
                    console.log(action, orderId);
                    // Reset of process instruction
                    if (action == 'abort') {
                        currentStep = 0;
                        localStorage.setItem('currentStep', currentStep);
                        localStorage.removeItem('selectedOrder');
                    }
                    

                    fetch('/order-management', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ action, order_id: orderId })
                    })
        
                    
                }
                refreshPage();
            });
            
        }
    });
</script>


{% endblock %}