{% extends "base.html" %}

{% block title %}Workflows - Overview{% endblock %}
{% block header_title %}Workflows - Overview{% endblock %}

{% block content %}
<div class="order-list">
    <table class="order-table-overview">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Product</th>
                <th>Lot Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                    <tr>
                        <td class="order-columns-overview">{{ order.orderNumber }}</td>
                        <td class="order-columns-overview">{{ order.product }}</td>
                        <td class="order-columns-overview">{{ order.lotNumber }}</td>
                        <td class="order-columns-overview">{{ order.status }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


