{% extends "basesettings.html" %}

{% block title %}Process Configuration{% endblock %}
{% block header_title %}Process Configuration{% endblock %}

{% block content %}

    <div class="config-table">
        <div class="form-group-procconf">
            <input type="text" class="input-style-proc" id="workflow-name" placeholder="Workflow Name" required>
        </div>
        <table id="workflow-configurator" class="option-table">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Actions</th>
                    <th>External</th>
                    <th>Topic</th>
                    <th>External Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="option-columns-text">
                        <input type="text" value="" placeholder="Enter Option" class="option-input">
                    </td>
                    <td class="option-columns-buttons">
                        <input type="text" value="" placeholder="Enter Action" class="action-input" required>
                    </td>
                    <td class="option-columns-external">
                        <input type="checkbox" onclick="toggleVisibility(this)" class="external-checkbox">
                    </td>
                    <td class="option-columns-topic">
                        <select class="select-topic-dropdown hidden" required>
                            <option value="">Select Topic</option>
                        </select>
                    </td>
                    <td class="option-columns-text">
                        <input type="text" value="" placeholder="Enter External Action" class="option-input-add hidden" required>
                    </td>
                </tr>
            </tbody></td>
        </table>
        <div class="save-button-container">
            <button type="submit" class="button-style-processconfig-save" id="savebutton">Save Workflow</button>
            <button class="button-style-processconfig-save" onclick="addRow()">Add Row</button>
            <button class="button-style-processconfig-save" onclick="addAction()">Add Action</button>
            <button class="button-style-processconfig-save" onclick="deleteRow()">Delete Row</button>
        </div>
    </div>
    





<div id="successModalProcConf" class="modal-procConfig">
    <div class="modal-content-procConfig">
        <div id="genericMessage"></div>
        <button class="button-style-processconfig-close close-button">Close</button>
    </div>
</div>




<script>

function deleteRow() {
    const table = document.getElementById('workflow-configurator').getElementsByTagName('tbody')[0];
    const lastRow = table.querySelector('tr:last-child');

    if (!lastRow) {
        const noRowModal = document.getElementById('successModalProcConf');
        document.getElementById('genericMessage').innerHTML = '<strong>No row available to delete!</strong>';
        noRowModal.style.display = 'block';
        return;
    }

    table.deleteRow(lastRow.rowIndex - 1);
}

  function addAction() {
    const table = document.getElementById('workflow-configurator').getElementsByTagName('tbody')[0];
    const lastRow = table.querySelector('tr:last-child');

    if (!lastRow) {
        const noRowModal = document.getElementById('successModalProcConf');
        document.getElementById('genericMessage').innerHTML = '<strong>No row available to add an action!</strong>';
        noRowModal.style.display = 'block';
        return;
    }

    // Abrufen der Option, zu der die zusätzliche Aktion gehört
    const optionInput = lastRow.querySelector('.option-input');
    const optionValue = optionInput ? optionInput.value.trim() : lastRow.getAttribute('data-option-id');

    if (!optionValue) {
        const noRowModal = document.getElementById('successModalProcConf');
        document.getElementById('genericMessage').innerHTML = '<strong>Please enter an option before adding an action!</strong>';
        noRowModal.style.display = 'block';
        return;
    }

    // Neue Zeile hinzufügen
    const newRow = table.insertRow();
    newRow.setAttribute('data-option-id', optionValue); // Verknüpfen der neuen Zeile mit der Option
    newRow.innerHTML = `
        <tr>
            <td class="option-columns-text">
                <!-- Leeres Feld für zusätzliche Aktionen -->
            </td>
            <td class="option-columns-buttons">
                <input type="text" value="" placeholder="Enter Action" class="action-input" required>
            </td>
            <td class="option-columns-external">
                <input type="checkbox" class="external-checkbox" onclick="toggleVisibility(this)">
            </td>
            <td class="option-columns-topic">
                <select class="select-topic-dropdown hidden" required>
                    <option value="">Select Topic</option>
                </select>
            </td>
            <td class="option-columns-text">
                <input type="text" value="" placeholder="Enter External Action" class="option-input-add hidden" required>
            </td>
        </tr>
    `;
}


     function addRow() {
        const table = document.getElementById('workflow-configurator').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();
        newRow.innerHTML = `
            <tr>
                <td class="option-columns-text">
                    <input type="text" value="" placeholder="Enter Option" class="option-input">
                </td>
                <td class="option-columns-buttons">
                <input type="text" value="" placeholder="Enter Action" class="action-input" required>
                </td>
                <td class="option-columns-external">
                    <input type="checkbox" class="external-checkbox" onclick="toggleVisibility(this)">
                </td>
                <td class="option-columns-topic">
                    <select class="select-topic-dropdown hidden" required>
                        <option value="">Select Topic</option>
                    </select>
                </td>
                <td class="option-columns-text">
                    <input type="text" value="" placeholder="Enter External Action" class="option-input-add hidden" required>
                </td>
            </tr>
        `;
    }

    function toggleVisibility(checkbox) {
        const row = checkbox.closest('tr');
        const topicDropdown = row.querySelector('.select-topic-dropdown');
        const externalActionInput = row.querySelector('.option-input-add');

        if (checkbox.checked) {
            topicDropdown.classList.remove('hidden');
            externalActionInput.classList.remove('hidden');
            const dropdown = row.querySelector('.select-topic-dropdown');
            dropdown.innerHTML = '<option value="">Select Topic</option>'; 
            fetch('/api/get-all-topics')
                .then(response => response.json())
                .then(data => {
                    if (data.topics) {
                        data.topics.forEach(topic => {
                            const option = document.createElement('option');
                            option.value = topic;
                            option.textContent = topic;
                            dropdown.appendChild(option);
                        });
                    } else {
                        console.error('Error fetching topics:', data.error);
                    }
                })
            .catch(error => {
                console.error('Error:', error);
            });
           
        } else {
            topicDropdown.classList.add('hidden');
            externalActionInput.classList.add('hidden');
        }
    }


    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('button-style-processconfig')) {
            const button = event.target;
            const row = button.closest('tr');
            const isHighlighted = button.classList.contains('button-marked');
            
            row.querySelectorAll('.button-style-processconfig').forEach(btn => {
                btn.classList.remove('button-marked');
            });
            
            if (!isHighlighted) {
                button.classList.add('button-marked');
            }
        }
    });

    document.getElementById('savebutton').addEventListener('click', function(event) {
    event.preventDefault();

    const workflowName = document.getElementById('workflow-name').value.trim();
    if (!workflowName) {
        const noNameModal = document.getElementById('successModalProcConf');
        document.getElementById('genericMessage').innerHTML = '<strong>Please enter a workflow name!</strong>';
        noNameModal.style.display = 'block';
        return;
    }

    const optionsMap = new Map();

    document.querySelectorAll('tbody tr').forEach(row => {
        const optionInput = row.querySelector('.option-input');
        const optionId = optionInput ? optionInput.value.trim() : row.getAttribute('data-option-id');
        const actionInput = row.querySelector('.action-input');
        const isExternalChecked = row.querySelector('.external-checkbox')?.checked;
        const topicValue = isExternalChecked ? row.querySelector('.select-topic-dropdown')?.value : null;
        let externalActionInput = isExternalChecked ? row.querySelector('.option-input-add')?.value.trim().toLowerCase() : null;
        console.log('externalActionInput:', externalActionInput); // Debugging output
        
            if (externalActionInput === 'false') {
                externalActionInput = false;
            } else if (externalActionInput === 'true') {
                externalActionInput = true;
            }
        

        const actionValue = actionInput ? actionInput.value.trim() : null;

        if (isExternalChecked && (!topicValue || (!externalActionInput && externalActionInput !== false))) {
            const noNameModal = document.getElementById('successModalProcConf');
            document.getElementById('genericMessage').innerHTML = '<strong>Please enter a topic and external action!</strong>';
            noNameModal.style.display = 'block';
            return;
        }

        if (actionValue) {
            // Wenn die Option noch nicht in der Map ist, füge sie hinzu
            if (!optionsMap.has(optionId)) {
                optionsMap.set(optionId, {
                    option: optionId || null, // Option kann null sein
                    actions: []
                });
            }

            // Füge die Aktion zur Liste der Aktionen hinzu
            optionsMap.get(optionId).actions.push({
                action: actionValue,
                external: isExternalChecked,
                topic: topicValue,
                externalAction: externalActionInput
            });
        }
    });

    const selectedOptions = Array.from(optionsMap.values());

    const data = {
        workflowName: workflowName,
        options: selectedOptions
    };

    fetch('/save-workflow', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(result => {
        if (result.success) {
            const successModal = document.getElementById('successModalProcConf');
            document.getElementById('genericMessage').innerHTML = '<strong>Workflow saved successfully!</strong>';
            successModal.style.display = 'block';
        } 
    })

});

    window.addEventListener('click', function(event) {
        const modal1 = document.getElementById('successModalProcConf'); 
        if (event.target == modal1) {
            modal.style.display = 'none';
        }
    });

    document.querySelectorAll('.close-button').forEach(button => {
        button.addEventListener('click', function() {
            const successModal = document.getElementById('successModalProcConf');
            successModal.style.display = 'none';
        });
    });



   
</script>
{% endblock %}