{% extends "base.html" %}
{% block title %}Process QbD Analysis{% endblock %}
{% block header_title %}Process QbD Analysis{% endblock %}

{% block content %}

    <!-- The chart canvas -->
    <canvas id="tempChart" width="400" height="200"></canvas>
    <!-- Loading message -->
    <div id="loading-message" style="font-weight: bold; font-size: 18px;">Loading...</div>

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loadingMessage = document.getElementById('loading-message');
            setTimeout(() => {
                loadTrend();
            }, 6000);
            let chartInstance = null;

            function loadTrend() {
                // Display the loading message
                loadingMessage.style.display = 'block';

                fetch('/api/process-qbd-analysis')
                    .then(response => response.json())
                    .then(data => {
                        const processedTemps = data.processed_data || {};
                        const completedOrders = data.completed_orders || [];
                        const latest_data = data.latest_data|| {};
                        // Check if there are any orders
                        if (completedOrders.length === 0) {
                            throw new TypeError('No orders found');
                        }
                        const orderNumbers = completedOrders;

                        const datasets = orderNumbers.map((orderNumber, index) => {
                            const orderData = processedTemps[orderNumber];
                            if (!orderData) {
                                console.warn(`No data found for order number: ${orderNumber}`);
                                return null;
                            }
                            const colors = [
                                'rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 
                                'rgba(255, 206, 86, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)', 
                                'rgba(255, 99, 132, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(54, 162, 235, 0.5)', 
                                'rgba(255, 206, 86, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                'rgba(75, 192, 192, 0.8)', 'rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 
                                'rgba(255, 206, 86, 0.8)', 'rgba(153, 102, 255, 0.8)', 'rgba(255, 159, 64, 0.8)', 
                                'rgba(75, 192, 192, 0.3)', 'rgba(255, 99, 132, 0.3)'
                            ];
                            const color = colors[index % colors.length];
                            return {
                                label: `${orderNumber}`,
                                data: orderData.map(point => ({ x: point[0], y: point[1] })), // Zeit in Minuten als x-Wert
                                backgroundColor: color,
                                borderColor: color,
                                showLine: false
                            };
                        }).filter(dataset => dataset !== null);
                        

                        // Calculate the average y-value
                        let allYValues = [];
                        datasets.forEach(dataset => {
                          dataset.data.forEach(point => {
                           allYValues.push(point.y);
                         });
                        });

                        const sumOfYValues = allYValues.reduce((sum, value) => sum + value, 0);
                        const averageYValue = sumOfYValues / allYValues.length; // Durchschnittliche Temperatur

                        // Determine the minimum and maximum x-values to span the line across the chart
                        let allXValues = [];
                        datasets.forEach(dataset => {
                            dataset.data.forEach(point => {
                                allXValues.push(point.x);
                            });
                        });
                        
                        const minX = Math.min(...allXValues);
                        const maxX = Math.max(...allXValues);
                        
                        // Create the average line dataset
                        const averageLineDataset = {
                            label: 'Average Value',
                            data: [
                                { x: minX, y: averageYValue },
                                { x: maxX, y: averageYValue }
                            ],
                            borderColor: 'rgba(0, 0, 0, 1)', // Black color for the average line
                            borderWidth: 2,
                            pointRadius: 0,
                            fill: false,
                            showLine: true,
                            borderDash: [5, 5] // Dashed line
                        };
//#######################################################################
                        // // Create the live line dataset
                        // const liveorderNumbers = completedOrders;
                        // const livedatasets = liveorderNumbers.map((orderNumber, index) => {
                        //     const liveorderData = latest_data[orderNumber];
                        //     if (!liveorderData) {
                        //         console.warn(`No data found for live order number: ${orderNumber}`);
                        //         return null;
                        //     }
                        //     const colors = 'blue';
                        //     const color = 'blue';
                        //     return {
                        //         label: `Current Order`,
                        //         data: liveorderData.map(point => ({ x: point[0], y: point[1] })), // Zeit in Minuten als x-Wert
                        //         borderColor: 'blue', // blue color for the live line
                        //         borderWidth: 2,
                        //         pointRadius: 0,
                        //         fill: false,
                        //         showLine: true,
                        //     };
                        // }).filter(dataset => dataset !== null);

                        // Add the average line dataset to the datasets array
                        datasets.push(averageLineDataset);
                        
                        // Add the live line dataset to the datasets array
                        //datasets.push(livedatasets[0]);

                        



                        // Update or create the chart instance
                        if (chartInstance) {
                            chartInstance.data.datasets = datasets;
                            chartInstance.update();
                        } else {
                            chartInstance = new Chart(document.getElementById('tempChart').getContext('2d'), {
                                type: 'scatter',
                                data: {
                                    datasets: datasets,
                            
                                },
                                options: {
                                    animation: false,
                                    scales: {
                                        x: {
                                            type: 'linear',
                                            position: 'bottom',
                                            min: 0,
                                            max: 5,
                                            title: {
                                                display: true,
                                                text: 'Time (minutes)'
                                            }
                                        },
                                        y: {
                                            min: -10,
                                            max: 110,
                                            title: {
                                                display: true,
                                                text: 'Normalized Temperature in %'
                                            }
                                        }
                                    }
                                }
                            });
                        }
                        
                        // Hide the loading message after data is loaded
                        loadingMessage.style.display = 'none';
                    })
                    .catch(error => {
                        console.error('Error fetching QbD analysis data:', error);
                        loadingMessage.textContent = 'Error loading data.';    
            });
            }

            loadTrend();
            setInterval(loadTrend, 5000);
        });
    </script>
{% endblock %}
