{% extends "basesettings.html" %}

{% block title %}Process Configuration{% endblock %}
{% block header_title %}Process Configuration{% endblock %}

{% block content %}



<div class="config-container">
    <div class="config-table">
        <div class="form-group-procconf">
            <input type="text" class="input-style-proc" id="workflow-name" placeholder="Workflow Name" required>
        </div>
        <table id="workflow-configurator" class="option-table">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="option-columns-text">
                        <input type="text" value="" placeholder="Enter Option" class="option-input"></td>
                    </td>
                    <td class="option-columns-buttons">
                        <button class="button-style-processconfig">Yes/No</button>
                        <button class="button-style-processconfig">Confirm</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="save-button-container">
            <button type="submit" class="button-style-processconfig-save" id="savebutton">Save Workflow</button>
            <button class="button-style-processconfig-save" onclick="addRow()">Add row</button>
        </div>
    </div>
    <div class="config-dropdown">
        <div class="form-group-procconf">
            <select id="workflow-select" class="input-style-proc">
                <option>Select Workflow</option>
            </select>
        </div class="form-group-procconf">   
        <div class="preview-container" id="preview-container" style="display: none;">
            <div id="workflow-preview" class="workflow-preview">
                <table class="option-table">
                    <thead>
                        <tr>
                            <th class="option-columns-text">Option</th>
                            <th class="option-columns-buttons">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="workflow-preview-body">
                    </tbody>
                </table>
            </div>
            <div class="button-container"></div>
                <button id="release-workflow" class="button-style-processconfig-save">Release</button>
                <button id="delete-workflow" class="button-style-processconfig-save">Delete</button>
                <button id="deactivate-workflow" class="button-style-processconfig-save">Deactivate</button>
            </div>  
        </div> 
    </div>
</div>




<div id="successModalProcConf" class="modal-procConfig">
    <div class="modal-content-procConfig">
        <div id="genericMessage">Test</div>
        <button class="button-style-processconfig-close close-button">Close</button>
    </div>
</div>




<script>
     function addRow() {
        const table = document.getElementById('workflow-configurator').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();
        newRow.innerHTML = `
            <tr>
                    <td class="option-columns-text">
                        <input type="text" value="" placeholder="Enter Option" class="option-input"></td>
                    </td>
                    <td class="option-columns-buttons">
                        <button class="button-style-processconfig">Yes/No</button>
                        <button class="button-style-processconfig">Confirm</button>
                    </td>
                </tr>
        `;
    }


    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('button-style-processconfig')) {
            const button = event.target;
            const row = button.closest('tr');
            const isHighlighted = button.classList.contains('button-marked');
            
            row.querySelectorAll('.button-style-processconfig').forEach(btn => {
                btn.classList.remove('button-marked');
            });
            
            if (!isHighlighted) {
                button.classList.add('button-marked');
            }
        }
    });


    document.getElementById('savebutton').addEventListener('click', function(event) {
        event.preventDefault();
        
        const workflowName = document.getElementById('workflow-name').value.trim();
        if (!workflowName) {
            const noNameModal = document.getElementById('successModalProcConf');
            document.getElementById('genericMessage').innerHTML = '<strong>Please enter a workflow name!</strong>';
            noNameModal.style.display = 'block';
        }


        if(workflowName){
            const selectedOptions = [];
            document.querySelectorAll('.button-marked').forEach(button => {
            const optionText = button.closest('tr').querySelector('.option-input').value.trim();
            const buttonText = button.textContent.trim();
            if (optionText) {
                selectedOptions.push({ option: optionText, action: buttonText });
            }
            });

            const data = {
                workflowName: workflowName,
                selectedOptions: selectedOptions
            };

            fetch('/save-workflow', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                if (result.success) {
                    const successModal = document.getElementById('successModalProcConf');
                    document.getElementById('genericMessage').innerHTML = '<strong>Workflow saved successfully!</strong>';
                    successModal.style.display = 'block';

                    fetchWorkflows();
                    document.querySelectorAll('.button-marked').forEach(button => {
                        button.classList.remove('button-marked');
                    });

                    document.getElementById('workflow-name').value = '';
                    document.querySelectorAll('.option-input').forEach(input => {
                        input.value = '';
                    });
                } else {
                    alert('Error saving workflow.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error saving workflow.234');
            });
        }
    });

    window.addEventListener('click', function(event) {
        const modal1 = document.getElementById('successModalProcConf'); 
        if (event.target == modal1) {
            modal.style.display = 'none';
        }
    });

    document.querySelectorAll('.close-button').forEach(button => {
        button.addEventListener('click', function() {
            const successModal = document.getElementById('successModalProcConf');
            successModal.style.display = 'none';
        });
    });

      
    function fetchWorkflows() {
        fetch('/get-workflows')
            .then(response => response.json())
            .then(data => {
                const workflowSelect = document.getElementById('workflow-select');
                data.workflows.forEach(workflow => {
                    const option = document.createElement('option');
                    option.value = workflow;
                    option.textContent = workflow;
                    workflowSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching workflows:', error));
    }

  // Fetch workflow preview
  document.getElementById('workflow-select').addEventListener('change', function() {
        const workflowName = this.value;
        const previewContainer = document.getElementById('preview-container');
        if (workflowName) {
            fetch(`/get-workflow/${workflowName}`)
                .then(response => response.json())
                .then(data => {
                    const previewBody = document.getElementById('workflow-preview-body');
                    previewBody.innerHTML = ''; // Clear previous preview
                    data.forEach(option => {
                        const row = document.createElement('tr');
                        const optionCell = document.createElement('td');
                        const actionCell = document.createElement('td');
                        
                        optionCell.textContent = option.option; 
                        actionCell.textContent = option.action;
                        row.appendChild(optionCell);
                        row.appendChild(actionCell);
                        previewBody.appendChild(row);
                    });
                    previewContainer.style.display = 'block';
                })
                .catch(error => console.error('Error fetching workflow:', error));
        } else {
            document.getElementById('workflow-preview-body').innerHTML = '';
            previewContainer.style.display = 'none';
        }
    });

    document.getElementById('release-workflow').addEventListener('click', function() {
        const workflowName = document.getElementById('workflow-select').value;
        if (workflowName) {
            fetch(`/release-workflow/${workflowName}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const successModal = document.getElementById('successModalProcConf');
                        document.getElementById('genericMessage').innerHTML = '<strong>Workflow released successfully!</strong>';
                        successModal.style.display = 'block';
                    } else {
                        alert('Error releasing workflow.');
                    }
                })
                .catch(error => console.error('Error releasing workflow:', error));
        }
    });
    document.getElementById('delete-workflow').addEventListener('click', function() {
        const workflowName = document.getElementById('workflow-select').value;
        if (workflowName) {
            fetch(`/delete-workflow/${workflowName}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const successModal = document.getElementById('successModalProcConf');
                        document.getElementById('genericMessage').innerHTML = '<strong>Workflow deleted successfully!</strong>';
                        successModal.style.display = 'block';
                        fetchWorkflows();
                    } else {
                        alert('Error deleting workflow.');
                    }
                })
                .catch(error => console.error('Error deleting workflow:', error));
        }
    });

    document.getElementById('deactivate-workflow').addEventListener('click', function() {
        const workflowName = document.getElementById('workflow-select').value;
        if (workflowName) {
            fetch(`/deactivate-workflow/${workflowName}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const successModal = document.getElementById('successModalProcConf');
                        document.getElementById('genericMessage').innerHTML = '<strong>Workflow deactivated successfully!</strong>';
                        successModal.style.display = 'block';
                    } else {
                        alert('Error deactivating workflow.');
                    }
                })
                .catch(error => console.error('Error deactivating workflow:', error));
        }
    });


    


    fetchWorkflows();
</script>
{% endblock %}