{% extends "basesettings.html" %}

{% block title %}Settings{% endblock %}
{% block header_title %}User Management{% endblock %}

{% block content %}
<form id="addUserForm">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="usernameReg" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="passwordReg" name="password" required>
    </div>
    <div>
        <label for="roleReg">Role:</label>
        <select name="role_id" id="roleReg" required style="min-width: 200px;">
            {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Add User</button>
</form>
<script>
document.getElementById('addUserForm').addEventListener('submit', async function(e) {
    e.preventDefault();
    const username = document.getElementById('usernameReg').value.trim();
    const password = document.getElementById('passwordReg').value.trim();
    const role = document.getElementById('roleReg').value;
    console.log(`Adding user: ${username}, Role: ${role}`);

    await fetch('/registerUser', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ username: username, password: password, role: role })
    });
});
</script>
<style>
    select {
    min-width: 200px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    color: #222;
}
</style>
{% endblock %}