{% extends "basesettings.html" %}

{% block title %}Workflow Management{% endblock %}
{% block header_title %}Workflow Management{% endblock %}

{% block content %}
<div class="config-dropdown-WorkflowMan">
    <div class="form-group-WorkflowMan">
        <select id="workflow-select-WorkflowMan" class="input-style-WorkflowMan">
            <option>Select Workflow</option>
        </select>
    </div class="form-group-WorkflowMan">   
    <div class="preview-container" id="preview-container" style="display: none;">
        <div id="workflow-preview" class="workflow-preview">
            <table class="option-table-WorkflowMan">
                <thead>
                    <tr>
                        <th class="option-columns-text-WorkflowMan">Option</th>
                        <th class="option-columns-buttons-WorkflowMan">Actions</th>
                        <th class="option-columns-external-WorkflowMan">External</th>
                        <th class="option-columns-topics-WorkflowMan">Topic</th>
                        <th class="option-columns-text-WorkflowMan">External Action</th>
                    </tr>
                </thead>
                <tbody id="workflow-preview-body">
                </tbody>
            </table>
        </div>
        <div class="button-container"></div>
            <button id="release-workflow" class="button-style-WorkflowMan-save">Release</button>
            <button id="delete-workflow" class="button-style-WorkflowMan-save">Delete</button>
            <button id="deactivate-workflow" class="button-style-WorkflowMan-save">Deactivate</button>
        </div>  
    </div> 

    <div id="successModalWorkflowMan" class="modal-WorkflowMan">
        <div class="modal-content-WorkflowMan">
            <div id="genericMessageWorkflowMan"></div>
            <button class="button-style-WorkflowMan-close WorkflowMan-button">Close</button>
        </div>
    </div>
    

</div>

<script>
    function fetchWorkflows() {
        const workflowSelect = document.getElementById('workflow-select-WorkflowMan');
        workflowSelect.innerHTML = '<option>Select Workflow</option>'; // Clear existing options
        fetch('/get-workflows')
            .then(response => response.json())
            .then(data => {
                data.workflows.forEach(workflow => {
                    const option = document.createElement('option');
                    option.value = workflow;
                    option.textContent = workflow;
                    workflowSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching workflows:', error));
    }

    document.getElementById('workflow-select-WorkflowMan').addEventListener('change', function () {
    const workflowName = this.value;
    const previewContainer = document.getElementById('preview-container');

    if (workflowName) {
        fetch(`/get-workflow/${workflowName}`)
            .then(response => response.json())
            .then(({ workflows, released_workflows }) => {
                if (!workflows) {
                    console.error('Error: Workflow data is missing.');
                    return;
                }

                const previewBody = document.getElementById('workflow-preview-body');
                previewBody.innerHTML = ''; 

                workflows.options.forEach(option => {
                    let isFirstAction = true;

                    option.actions.forEach(action => {
                        const row = document.createElement('tr');

                        
                        const optionCell = document.createElement('td');
                        if (isFirstAction) {
                            optionCell.textContent = option.option || '';
                            isFirstAction = false; 
                        } else {
                            optionCell.textContent = ''; 
                        }

                        const actionCell = document.createElement('td');
                        actionCell.textContent = action.action || 'N/A';

                        const externalCell = document.createElement('td');
                        externalCell.textContent = action.external ? 'Yes' : 'No';

                        const topicCell = document.createElement('td');
                        topicCell.textContent = action.topic;

                        const externalActionCell = document.createElement('td');
                        externalActionCell.textContent = action.externalAction;

                        row.appendChild(optionCell);
                        row.appendChild(actionCell);
                        row.appendChild(externalCell);
                        row.appendChild(topicCell);
                        row.appendChild(externalActionCell);

                        previewBody.appendChild(row);
                        updateButtons(workflowName, released_workflows);
                    });
                });

                previewContainer.style.display = 'block';
            })
            .catch(error => console.error('Error fetching workflow:', error));
    } else {
        document.getElementById('workflow-preview-body').innerHTML = '';
        previewContainer.style.display = 'none';
    }
});

function updateButtons(workflowName, releasedWorkflows) {
        const releaseButton = document.getElementById('release-workflow');
        const deactivateButton = document.getElementById('deactivate-workflow');
        const deleteButton = document.getElementById('delete-workflow');

        if (releasedWorkflows[workflowName] && releasedWorkflows[workflowName]['released'] === 1)
        {
            releaseButton.style.display = 'none';
            deactivateButton.style.display = 'inline-block';
            deleteButton.style.display = 'none';
        }
        else if (releasedWorkflows[workflowName] && releasedWorkflows[workflowName]['released'] === 0)
        {
            releaseButton.style.display = 'none';
            deactivateButton.style.display = 'none';
            deleteButton.style.display = 'none';
        }
        else
        {
            releaseButton.style.display = 'inline-block';
            deactivateButton.style.display = 'none';
            deleteButton.style.display = 'inline-block';
        }

       
    
    }

    document.getElementById('release-workflow').addEventListener('click', function() {
        const workflowName = document.getElementById('workflow-select-WorkflowMan').value;
        if (workflowName) {
            fetch(`/release-workflow/${workflowName}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const successModal = document.getElementById('successModalWorkflowMan');
                        document.getElementById('genericMessageWorkflowMan').innerHTML = '<strong>Workflow released successfully!</strong>';
                        successModal.style.display = 'block';
                        resetDropdownAndPreview();
                    } else {
                        const errorModal = document.getElementById('successModalWorkflowMan');
                        document.getElementById('genericMessageWorkflowMan').innerHTML = '<strong>Error releasing Workflow!</strong>';
                        errorModal.style.display = 'block';
                    }
                })
                .catch(error => console.error('Error releasing workflow:', error));
        }
    });
    document.getElementById('delete-workflow').addEventListener('click', function() {
        const workflowName = document.getElementById('workflow-select-WorkflowMan').value;
        if (workflowName) {
            fetch(`/delete-workflow/${workflowName}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const successModal = document.getElementById('successModalWorkflowMan');
                        document.getElementById('genericMessageWorkflowMan').innerHTML = '<strong>Workflow deleted successfully!</strong>';
                        successModal.style.display = 'block';
                        resetDropdownAndPreview();
                        fetchWorkflows();
                        
                    } else {
                        const errorModal = document.getElementById('successModalWorkflowMan');
                        document.getElementById('genericMessageWorkflowMan').innerHTML = '<strong>Error deleting Workflow!</strong>';
                        errorModal.style.display = 'block';
                    }
                })
                .catch(error => console.error('Error deleting workflow:', error));
        }
    });

    document.getElementById('deactivate-workflow').addEventListener('click', function() {
        const workflowName = document.getElementById('workflow-select-WorkflowMan').value;
        if (workflowName) {
            fetch(`/deactivate-workflow/${workflowName}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const successModal = document.getElementById('successModalWorkflowMan');
                        document.getElementById('genericMessageWorkflowMan').innerHTML = '<strong>Workflow deactivated successfully!</strong>';
                        successModal.style.display = 'block';
                        resetDropdownAndPreview();
                    } else {
                        const errorModal = document.getElementById('successModalWorkflowMan');
                        document.getElementById('genericMessageWorkflowMan').innerHTML = '<strong>Error deactivating workflow!</strong>';
                        errorModal.style.display = 'block';
                    }
                })
                .catch(error => console.error('Error deactivating workflow:', error));
        }
    });

    window.addEventListener('click', function(event) {
        const modal1 = document.getElementById('successModalWorkflowMan'); 
        if (event.target == modal1) {
            modal.style.display = 'none';
        }
    });

    document.querySelectorAll('.WorkflowMan-button').forEach(button => {
        button.addEventListener('click', function() {
            const successModal = document.getElementById('successModalWorkflowMan');
            successModal.style.display = 'none';
        });
    });

    function resetDropdownAndPreview() {
        const workflowSelect = document.getElementById('workflow-select-WorkflowMan');
        workflowSelect.selectedIndex = 0; 
        const previewBody = document.getElementById('workflow-preview-body');
        previewBody.innerHTML = ''; // Clear preview
        const previewContainer = document.getElementById('preview-container');
        previewContainer.style.display = 'none'; 
        const releaseButton = document.getElementById('release-workflow');
        const deactivateButton = document.getElementById('deactivate-workflow');
        const deleteButton = document.getElementById('delete-workflow');
        releaseButton.style.display = 'none';
        deactivateButton.style.display = 'none';
        deleteButton.style.display = 'none';
        console.log('reset');
    }
        


    fetchWorkflows();
</script>
{% endblock %}